.header {
  background-color: #a7d1d2;
  grid-area: header;
  justify-content: center;
  display: flex;
  align-items: center;
}

.header__image {
  object-fit: contain;
  margin-left: 10px;
}

.header__title {
  margin-left: 5px;
}

.header__auth {
  margin-left: 200px;
}