.App {
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
 

 background-color: #E0F4F5;
}


.App__content {
  grid-area: content;
  border: solid 2px #E0F4F5;
}